* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #0c192c;
    color: white;
    overflow: hidden;
    position: relative;
}

.hero-container img {
    border-radius: 50%;
    height: 150px;
    padding: 1rem;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInDown{
    from {
        transform: translateY(-300px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.header h1 {
    animation: slideInLeft .5s ease-out 0s;

}

.header h4 {
    animation: slideInDown .5s ease-out .3s;
    animation-fill-mode: backwards;
}

.fade {
    animation: fadeIn .5s ease 0 ;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
}