* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    position: relative;
}
.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; 
  }

  
.content {
    position: relative;
    z-index: 1; /* Ensure content is above the video */
    color: white; /* Adjust text color as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.hero-container img {
    border-radius: 50%;
    height: 150px;
    padding: 1rem;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInDown{
    from {
        transform: translateY(-300px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.header h1 {
    animation: slideInLeft .3s ease-in 0s;

}

.header h4 {
    animation: slideInDown .3s ease-in .2s;
    animation-fill-mode: backwards;
}

.fade {
    animation: fadeIn .4s ease-in 0 ;
}

